# Postman environment files with sensitive data
*.postman_environment.json

# Newman
newman/

# Node.js
node_modules/
npm-debug.log

# Logs
*.log

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db
CLAUDE.md
CLAUDE
